ul {
	padding-left: 0;
}

h3 {
	margin-top: 0;
	margin-bottom: 0;
}

section {
	margin-bottom: 80px;
}

section:last-child {
	margin-bottom: 40px;
}
a.download_cv {
	font-family: 'Montserrat', serif;
	font-size: 12px;
	font-weight: 700;
	margin-left: 14px;
	letter-spacing: 2px;
	text-decoration: none;
	padding: 6px 10px;
	border-radius: 2px;
	display: inline-block;
	border: 2px solid black;
	color: black;
	white-space:nowrap;
	transition: ease-in 0.2s all;
}
.download_cv:hover {
	color: #f3f3f3;
	background-color: #3f3f3f;
}

.section_title {
	font-family: 'Montserrat', serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 0;
	margin-bottom: 32px;
}


.container {
	display: flex;
	justify-content: center;
	padding: 148px 56px 64px 56px;
}

.left {
	width: 300px;
	flex-grow: 0;
	flex-shrink: 0
}

.left p {
	font-weight: 400;
	width: 220px;
}

.social {
	list-style-type: none;
}

.social li {
	display: inline-block;
	margin-right: 8px;
}

.social img {
	width: 30px;
	transition: ease-in 0.3s all;
}

.social img:hover {
	opacity: 0.8;
}

.profile_img {
	width: 300px;
	opacity: 0.75;
	filter: grayscale(100%) brightness(95%) contrast(1.5);
	-webkit-filter: grayscale(100%) brightness(95%) contrast(1.5);	
}

.mega_title {
	font-size: 36px;
	text-transform: uppercase;
	margin-top: 8px;
	letter-spacing: 2px;
}
.right {
	width: 40vw;
	flex-shrink:0;
	margin-left: 10%;
}

.year {
	width: 56px;
	position: relative;
	margin-right: 28px;
}
.year span{
	display: block;
	font-size: 14px;
	color: #4A4A4A;
}
.to {
	position: absolute;
	top: 0;
	padding-top: 4px;
	padding-bottom: 12px;
}

.from, .to {
	color: #9b9b9b;
	font-weight: 400;
	background-color: #D2D0CD;
	z-index: 2;
}

.from {
	padding-top: 12px;
	position: absolute;
	bottom: 0;
}

.year:after {
	content: '';
	display: block;
	width: 2px;
	height: 100%;
	background-color: #9B9B9B;
	position: absolute;
	left: 20px;
	z-index: 1;

}

.work_item {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 64px;
}


.position_title {
	margin-top: 4px;
	color: #4a4a4a;
	font-weight: 400;
}

.work_item ul {
	margin-left: 16px;
}

.work_item li {
	list-style-type: square;
	margin-top: 12px;
	margin-left: 16px;
}


.ability ul li{
	list-style-type: none;
	/*justify-content: space-between;*/
}

.ability ul li p {
	font-size: 12px;
	font-weight: 400;
	color: #4a4a4a;
	line-height: 1.4;
	margin-bottom: 24px;
	flex-grow: 0;
	flex-shrink: 0;
}

.abi_item {
	display: flex;
	flex: 2;
	margin-bottom: 28px;
}

.abi_item > li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60px;
	margin-right: 16px;
}

.abi_item p {
	text-align: center;
	font-size: 14px;
}

.abi_item img {
	height: 36px;
	vertical-align: middle;
}



@media screen and (max-width: 768px) {
	.left .profile_img {
		width: 280px;
	}
	.left, .left p, .mega_title {
		width: 100%;
	}

	.section_title {
		margin-bottom: 12px;
	}

	.right {
		margin-left: 0;
		margin-top: 40px;
		width: 100%;
	}

	.container {
		flex-direction: column;
		justify-content: space-between;
	}
}