.page_title {
	display: inline-block;
	margin-left: 32px;
}

.top, .left {
	padding-top: 40px;
}

.project_thumbnail {
	-webkit-transition: width 1s ease-in;
	   -moz-transition: width 1s ease-in;
	    -ms-transition: width 1s ease-in;
	     -o-transition: width 1s ease-in;
	        transition: width 1s ease-in;
}