.page_title {
	display: inline-block;
	margin-left: 32px;
}

.left {
	position: fixed;
	height: 100vh;
	padding-right: 64px;
	padding-top: 80px;
}

.left p {
	margin-top: 0px;
}

.left ul {
	margin-bottom: 40px;
	padding-left: 0;
}

.left .nav li {
	list-style-type: none;
	line-height: 1.75;
	font-size: 20px;
}

.right {
	border-left: 2px solid rgba(0,0,0,0.1);
	padding-top: 64px;
	min-height: 100vh;
	/*box-shadow: -10px 0px 20px rgba(0,0,0,0.1);	*/
}

.name {
	font-size: 32px;
	letter-spacing: -1px;
	font-weight: 700 !important;
	margin-bottom: 0;
	margin-top: 24px;
}

.social {
	list-style: none;
}

.social li{
	display: inline-block;
	margin-right: 8px;
}

.social img {
	width: 28px;
	transition: all ease-in 0.1s;
}

.social img:hover {
	opacity: 0.7;

}

/*.left h3, .left p {
	vertical-align: middle;
}*/

body {
	margin: 0;
}

body::-webkit-scrollbar , .modal::-webkit-scrollbar{
    width: 1em;
}
 
body::-webkit-scrollbar-track, .modal::-webkit-scrollbar-track {
	background-color: #eaeaea;
}
 
body::-webkit-scrollbar-thumb, .modal::-webkit-scrollbar-thumb {
  background-color: #000;
  outline: 1px solid #000;
}
