.page_title {
	display: inline-block;
	margin-left: 32px;
}

.back_arrow:hover img{
	transform: translateX(-8px);
}

.back_arrow img{
	transition-delay: 1s;
	-webkit-transition: all .25s ease-out;
	   -moz-transition: all .25s ease-out;
	    -ms-transition: all .25s ease-out;
	     -o-transition: all .25s ease-out;
	        transition: all .25s ease-out;
}

.back_arrow {
	padding: 8px;
}

.top, .left {
	padding-top: 6vh;
}

.left {
	height: 100vh;
}

/*.left h3, .left p {
	vertical-align: middle;
}*/

body::-webkit-scrollbar , .modal::-webkit-scrollbar{
    width: 1em;
}
 
body::-webkit-scrollbar-track, .modal::-webkit-scrollbar-track {
	background-color: #eaeaea;
}
 
body::-webkit-scrollbar-thumb, .modal::-webkit-scrollbar-thumb {
  background-color: #000;
  outline: 1px solid #000;
}
