/*@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,700');*/
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|PT+Sans');

html {
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'PT Sans', serif;
	background-color: #fff;
	font-weight: 400;
}

a,p,span,h1,h2,h3,h4,h5 {
	color: #222;
}

h1,h2,h3,h4,h5 {
	font-family: 'Montserrat', serif;
}

a {
	text-decoration: underline;
	font-weight: 400;
}

a:hover {
	text-decoration: underline;
}

ul, li {
	font-weight: 300;
}

p {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.6;
}


/*16px*/
h5 {
	font-size: 1rem;
	font-weight: 400;
}


/*18px*/
h4 {
	font-size: 1.125rem;
	font-weight: 400;
}


/*24px*/
h3 {
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 1px;	
}

/*36px*/
h2 {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.75;
}

/*42px*/
h1 {
	/*font-size: 2.625rem;*/
	font-size: 3.5rem;
	font-weight: 700;
	letter-spacing: 1px;
}