.gang_invite {
	background-image: url(../img/gang_invite/0.png);
	background-position: 25% 10%;
	-webkit-background-size: cover;
	background-size: cover;
}

.lp_cover {
	background-image: url(../img/lp_cover/lp-01.png);
	/*background-position: 25% 10%;*/
	-webkit-background-size: cover;
	background-size: cover;	
}
