

.logo_part {
	margin-top: 20%;
}

.logo_part h1 {
	font-size: 88px;
	margin-bottom: 0;
}

.logo_part p {
	font-size: 42px;
	font-weight: 300;
	margin-top: 0px;
}

section {
	margin-top: 10vh;
	width: 40vh;
}

section .title {
	font-size: 42px;
	margin-bottom: 16px;
	letter-spacing: 1px;
}

section a {
	font-size: 24px;
}

section li {
	list-style: none;
	margin-bottom: 16px;
}

section ul {
	padding: 0;
}

.describe {
	margin-bottom: 36px;
}