.container {
	display: flex;
	justify-content: center;
}

.content {
	width: 75vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content h1 {
	font-size: 36px;
	font-family: 'Roboto Slab';
	font-weight: 400;
	line-height: 1.8;
	margin-top: 0;
	margin-bottom: 94px;
	width: 55%;
	position: relative;
}


.content ul {
	list-style-type: none;
	padding: 0;	
	font-size: 20px;
}

.content ul li {
	margin-bottom: 24px;
}

.content ul li:hover a{
	border-bottom: 2px solid #4a4a4a;
}

.content a {
	text-decoration: none;
	/*position: relative;*/
}

.animate_img {
	overflow: hidden;
	width: 45vw;
	height: 30vh;
	position: absolute;
	/*background-color: yellow;*/
	right: 10vw;
	z-index: -1;
	/*background-color: red;*/
}

.about_cover:after, .works_cover:after {
	content:" ";
	display: block;
	width: 45vw;
	height: 30vh;
	position: absolute;
	left: -45vw;
	top: 0;
	background-color: #c4c4c4;
	transition: ease-in-out 0.8s all;
}



@media screen and (min-width: 1024px) {
	.about_cover div {
		width: 50vw;
		height: 30vh;
		display: block;
		opacity: 0;
		/*transform: translateX(-110%);*/
		background-image: url(../img/index/index_cover.jpg);
		background-size: cover;
		filter: grayscale(100%) brightness(110%);
		-webkit-filter: grayscale(100%) brightness(110%);
		transition: ease-out 0s 0.4s all;
	}

	.works_cover div {
		width: 50vw;
		height: 30vh;
		display: block;
		opacity: 0;
		/*transform: translateX(-110%);*/
		background-image: url(../img/index/index_cover2.png);
		background-size: cover;
		filter: grayscale(100%) brightness(110%);
		-webkit-filter: grayscale(100%) brightness(110%);
		transition: ease-out 0s 0.4s all;
	}
	.works_cover {
		bottom: 20vh;
	}

	.about_cover.active:after, .works_cover.active:after {
		left: 45vw;
	}

	.animate_img.active div {
		opacity: 0.8;
	}	
}


@media (min-width: 769px) and (max-width: 1200px) {
	.content h1 {
		width: 75%;
	}


}

@media screen and (max-width: 768px) {
	.content h1 {
		font-size: 28px;
		width: 100%;
	}

}

/*
	 .works:after {
		content:' ';
		width: 50vw;
		height: 70vh;
		position: absolute;
		z-index: -1;
		bottom: 10vh;
		right: 0;
		opacity: 0.7;
		background-image: url(../img/index/index_cover.png);
		background-size: contain;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}*/
