.container {
	display: flex;
	justify-content: center;
}

.content {
	width: 75vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content h1 {
	font-size: 36px;
	font-family: 'Roboto Slab';
	font-weight: 400;
	line-height: 1.8;
	margin-top: 0;
	margin-bottom: 94px;
	width: 55%;
	position: relative;
}


.content ul {
	list-style-type: none;
	padding: 0;	
	font-size: 20px;
}

.content ul li {
	margin-bottom: 24px;
}

.content ul li:hover {
	border-bottom: 2px solid #4a4a4a;
}

.content a {
	text-decoration: none;
	/*position: relative;*/
}


@media screen and (min-width: 1201px) {

}


@media (min-width: 769px) and (max-width: 1200px) {
	.content h1 {
		width: 75%;
	}


}

@media screen and (max-width: 768px) {
	.content h1 {
		font-size: 28px;
		width: 100%;
	}

}

/*
	 .works:after {
		content:' ';
		width: 50vw;
		height: 70vh;
		position: absolute;
		z-index: -1;
		bottom: 10vh;
		right: 0;
		opacity: 0.7;
		background-image: url(../img/index/index_cover.png);
		background-size: contain;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}*/
