.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 10px 40px 10px #eaeaea;
	height: 80px;
	width: 100%;
	background-color: #eaeaea;
	z-index: 10;
}

.navigation ul {
	padding-left: 0;
	padding-top: 8px;
}

.navigation ul li {
	display: inline-block;
}


.navigation .logo {
	margin-left: 56px;
	text-decoration: none;
}

.navigation a {
	text-decoration: none;
}

.navigation li {
	margin-right: 24px;
}

.navigation li.active{
	border-bottom: 2px solid #4a4a4a;
}

.navigation li:last-child {
	margin-right: 56px;
}


.logo {
	font-family: 'Roboto Slab';
	font-size: 20px;
	font-weight: 700;
}

.footer {
	font-size: 14px;
	width: 100%;
	text-align: center;
	padding: 20px 0;
	color: #4a4a4a;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
}


@media screen and (max-width: 768px) {
	.navigation .logo {
		margin-left: 24px;
		text-decoration: none;
	}

	.navigation li {
		margin-right: 16px;
	}	
	.navigation li:last-child {
		margin-right: 24px;
	}	

}