.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 3px 0px #333;
	height: 80px;
	width: 100%;
	/*background-color: #fff;*/
	background-color: #F5F5F5;
	z-index: 10;
}

.navigation ul {
	padding-left: 0;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Roboto Slab', serif;
}

.navigation ul li {
	display: inline-block;
}


.navigation .logo {
	margin-left: 56px;
	text-decoration: none;
	letter-spacing: 2px;
}

.navigation a {
	text-decoration: none;
	letter-spacing: 1px;
}

.navigation li {
	margin-right: 24px;
}

.navigation li.active{
	border-bottom: 2px solid #4a4a4a;
}

.navigation li:last-child {
	margin-right: 56px;
}


.logo {
	font-family: 'Red Hat Display', serif;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;
	font-weight: 900;
}

.footer {
	font-size: 14px;
	width: 100%;
	text-align: center;
	padding: 20px 0;
	color: #4a4a4a;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
}


@media screen and (max-width: 768px) {
	.navigation .logo {
		margin-left: 24px;
		text-decoration: none;
	}

	.navigation li {
		margin-right: 16px;
	}	
	.navigation li:last-child {
		margin-right: 24px;
	}	

}