.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 10px 40px 10px #eaeaea;
	height: 72px;
	background-color: #eaeaea;
	z-index: 10;
}

.navigation ul {
	padding-left: 0;
}

.navigation ul li {
	display: inline-block;
}

.navigation .logo {
	margin-left: 32px;
	text-decoration: none;
}

.navigation a {
	margin-right: 16px;
}

.navigation a:last-child {
	margin-right: 32px;
}


.logo {
	font-family: 'Roboto Slab';
	font-size: 20px;
	font-weight: 700;
}

.footer {
	font-size: 14px;
	width: 100vw;
	text-align: center;
	padding: 20px 0;
	color: #4a4a4a;
}

.fixed {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}