.container {
	display: flex;
	justify-content: center;
	padding: 0px 56px 72px 56px;
	margin-left: -56px;
	flex-wrap: wrap;
}

.container img {
	width: 100%;
	height: auto;
}

.project_img {
	width: 40vw;
}

section {
	width: 40vw;
	display: inline-block;
}

.project_img, section {
	margin-bottom: 48px;
	margin-left: 56px;
}

.project_img.multi_img {
	display: flex;
	justify-content: space-between;
}

.project_img.multi_img a {
	width: 30%;
}

.project_img.multi_img .day17_img {
	width: 60%;
}

section h3 {
	margin-top: 0;
}

section .description {
	margin-bottom: 40px;
}

section .description a {
	display: inline-block;
	color: white;
	background-color: #3b3b3b;
	margin-top: 8px;
	padding: 6px 10px;
	border-radius: 2px;
	text-decoration: none;
}

#project_title.fixed h2 {
	font-size: 20px;
	background-color: #eaeaea;
	position: fixed;
	width: 100%;
	top: 0;
	padding: 12px 0;
	box-shadow: 0 5px 30px 10px #eaeaea;
	transition: ease-in-out 0.3s all;
}

#prokect_title.fixed .project_details {
	display: none;
}

.project_info {
	display: flex;
	padding: 72px 56px 56px 56px;
	margin-left: -56px;
	justify-content: center;
}

.project_name {
	width: 40vw;
}

.project_name, .project_details {
	margin-left: 56px;
}

.project_name h2 {
	font-family: 'Roboto Slab';
	margin-top: 0;
	font-size: 42px;
	font-weight: 400;
}

.project_details {
	width: 40vw;
	padding-left: 0;
	list-style-type: none;
}

.project_details li {
	margin-bottom: 4px;
}

.project_details li span {
	display: inline-block;
	width: 150px;
	font-weight: 600;
	margin-right: 16px;
}
