.container {
	display: flex;
	justify-content: center;
	padding: 0px 56px 64px 56px;
	flex-wrap: wrap;
	background-color: #fff;
}

.container img {
	width: 100%;
	height: auto;
}

.project_img, iframe {
	width: 64vw;
}


.project_img, section {
	margin-bottom: 48px;
}

.project_img.multi_img {
	display: flex;
	justify-content: space-between;
}

.project_img.multi_img a {
	width: 30%;
}

.project_img.multi_img .day17_img {
	width: 60%;
}

section {
	margin-top: 32px;
	width: 64vw;
	display: inline-block;
}

section h2 {
	font-family: 'Roboto Slab';
	margin-top: 32px;
}

section .description {
	margin-bottom: 40px;
}

section .description a {
	display: inline-block;
	color: white;
	background-color: #3b3b3b;
	margin-top: 8px;
	padding: 6px 10px;
	border-radius: 2px;
	text-decoration: none;
}


.project_info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project_info .project_cover {
	width: 100vw;
	height: 350px;

	overflow: hidden;
	position: fixed;

	top: 0;
	left: 0;
	right: 0;
	z-index: -5;
}

.project_cover img {
	filter: blur(2px)  brightness(70%);
	width: 100vw;
}

.project_date,.project_name {
	width: 64vw;
}

.project_date {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	padding: 4px 4px 16px 4px;
}

.project_date i {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}

.project_name h1 {
	font-family: 'Roboto';
	color: #fff;
	margin-bottom: 20px;
	margin-top: 10%;
	/*font-size: 56px;*/
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.project_name p{
	color: #fff;
	font-family: 'Roboto Slab';
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0px;
	letter-spacing: 1px;
}

.project_details {
	width: 64vw;
	padding-left: 0;
	list-style-type: none;
	line-height: 1.4;
}

.project_details li {
	display: flex;
	margin-bottom: 4px;
	font-size: 14px;
}

.project_details li span {
	display: inline-block;
	min-width: 150px;
	font-weight: 600;
	margin-right: 16px;
}



@media screen and (max-width: 919px) {
	.container, .project_info {
		padding: 16px 20px 0 20px;
		margin-left: 0;
	}

	#project_title h1{
		font-size: 40px;
		line-height: 1.2;
	}

	.project_img,.project_date, section {
		width: 100%;
		margin-left: 0;
	}

	.project_info {
		padding: 20px;
		margin-left: 0;
	}

	.project_details {
		padding-bottom: 20px;
		border-bottom: 4px solid #3b3b3b;
	}
	.project_name, .project_details {
		width: 100%;
		margin-left: 0;
	}

	section {
		margin-top: -24px;
		margin-bottom: 56px;
	}
}
