.container {
	display: flex;
	justify-content: center;
	padding: 0px 56px 72px 56px;
	flex-wrap: wrap;
}

.container img {
	width: 100%;
	height: auto;
}

.project_img {
	width: 72vw;
}

section {
	width: 72vw;
	display: inline-block;
}

.project_img, section {
	margin-bottom: 48px;
}

.project_img.multi_img {
	display: flex;
	justify-content: space-between;
}

.project_img.multi_img a {
	width: 30%;
}

.project_img.multi_img .day17_img {
	width: 60%;
}

section h3 {
	margin-top: 0;
}

section .description {
	margin-bottom: 40px;
}

section .description a {
	display: inline-block;
	color: white;
	background-color: #3b3b3b;
	margin-top: 8px;
	padding: 6px 10px;
	border-radius: 2px;
	text-decoration: none;
}

#project_title.fixed .project_name h1{
	background-color: #eaeaea;
	position: fixed;
	font-size: 20px;
	width: auto;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px 56px;
	box-shadow: 0 5px 30px 10px #eaeaea;
	transition: ease-in-out 0.3s all;
}

#prokect_title.fixed .project_details {
	display: none;
}

.project_info {
	display: flex;
	padding: 56px;
	flex-wrap: wrap;
	justify-content: center;
}
.project_date,.project_name {
	width: 72vw;
}

.project_date {
	display: flex;
	justify-content: space-between;
	border-top: 4px solid black;
	border-bottom: 2px solid black;
	padding: 12px 4px;
}

.project_date i {
	font-size: 16px;
	font-weight: 600;
}

.project_name h1 {
	font-family: 'Roboto';
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;
}

.project_name p{
	font-family: 'Roboto Slab';
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 12px;
}

.project_details {
	width: 72vw;
	padding-left: 0;
	list-style-type: none;
}

.project_details li {
	display: flex;
	margin-bottom: 4px;
	font-size: 14px;
}

.project_details li span {
	display: inline-block;
	min-width: 150px;
	font-weight: 600;
	margin-right: 16px;
}

@media screen and (max-width: 919px) {
	.container, .project_info {
		padding: 36px 20px 0 20px;
		margin-left: 0;
	}

	#project_title {
		margin-top: 42px;
	}

	#project_title h2{
		font-size: 32px;
		line-height: 1.2;
	}

	#project_title.fixed .project_name h1 {
		padding: 32px 28px;
	}

	.project_img,.project_date, section {
		width: 100%;
		margin-left: 0;
	}

	.project_info {
		padding: 20px;
		margin-left: 0;
	}

	.project_details {
		padding-bottom: 20px;
		border-bottom: 4px solid #3b3b3b;
	}
	.project_name, .project_details {
		width: 100%;
		margin-left: 0;
	}

	section {
		margin-top: -24px;
		margin-bottom: 56px;
	}
}
