@import 'ued_logo.css';


body {
    background-size: 15px 15px;
    background-image: linear-gradient(to right, #0E0E0E 1px, transparent 1px), linear-gradient(to bottom, #0E0E0E 1px, transparent 1px);	
	background-color: black;
	padding-left: 5vw;
	padding-right: 5vw;
	margin: 0;
	height: 100vh;
}

.logo a {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline-block;
	animation: ued_logo 60s infinite;
}

.header {
	font-size: 14px;
	padding: 8px 0;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header ul {
	list-style-type: none;
	padding-left: 0;
}

.header ul li {
	font-weight: 300;
	margin-left: 24px;
	display: inline-block;
}

.header a {
	color: white;
	text-decoration: none;
}

.header_navigation {
}

.index_hero {
	position: absolute;
	display: block;
	left: 0
	z-index: 996;
	width: auto;
	margin-top: 10vh;
	height: 60vh;
	filter: saturate(0) brightness(20%);
}

.distort {
	position: relative;
	top: -200px;
	left: -500px;
	pointer-events: none;
	will-change: transform;
	z-index: 997;
}

.distort__img {
	opacity: 0;
}

.content {
	padding-top: 10vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.menu {
	padding-top: 10vh;
	text-align: right;
	width: 30vw;
	min-width: 30vw;
	position: relative;
	z-index: 999;

}

.menu__link span {
	display: inline-block;
}

.menu .menu__link {
	font-size: 72px;
	font-weight: 900;
	color: #4C4C4C;
	text-transform: uppercase;

	display: block;
	text-decoration: none;

	transition: all ease-in 0.2s;

}

.menu .menu__link:hover {
	color: white;
}

.menu .team:hover:after {
	text-transform: lowercase;
	position: absolute;
	right: 10vw;
	top: 50vh;
	display: block;
	width: 100%;
	content:'who we are.';
	font-family: 'Circular';
	font-size: 40px;
	color: #DBDBDB;
	z-index: 999;
}

.menu .projects:hover:after {
	text-transform: lowercase;
	position: absolute;
	right: 5vw;
	top: 50vh;
	display: block;
	width: 100%;
	content:'what we did.';
	font-family: 'Circular';
	font-size: 40px;
	color: #DBDBDB;
	z-index: 999;
}

.menu .methods:hover:after {
	text-transform: lowercase;
	position: absolute;
	right: 0;
	top: 50vh;
	display: block;
	width: 100%;
	content:'what we provide.';
	font-family: 'Circular';
	font-size: 40px;
	color: #DBDBDB;
	z-index: 999;
}

footer {
	padding-top: 12px;
	padding-bottom: 12px;
	position: fixed;
	bottom: 0;
	z-index: 998;
}

footer .copyright {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	color: white;
	position: relative;
}