



@-webkit-keyframes animate_bg {
  0%   { opacity: 0; }
  25%  { opacity: 1; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes dailyui {
  0%   { opacity: 0; }
  25%  { opacity: 1; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes dailyui {
  0%   { opacity: 0; }
  25%  { opacity: 1; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes dailyui {
  0%   { opacity: 0; }
  25%  { opacity: 1; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}