
.dailyui .animate {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url(../img/dailyui/dailyui10_cover.png);
	background-size: cover;
	animation: animate_bg 5s infinite;

}


.dailyui {
	background-image: url(../img/dailyui/dailyui20_cover.png);
	background-position: 25% 10%;
	
}

.gotrust {
	background-image: url(../img/go_trust/gotrust_id_cover1.png);
	background-position: 25% 10%;
	
}

.gotrust .animate {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url(../img/go_trust/gotrust_id_cover2.png);
	background-size: cover;
	animation: animate_bg 5s infinite 1s;

}


#dailyui_modal .project_img {
	box-shadow: 0 20px 40px -10px rgba(0,0,0, .2);
	-webkit-transition: all .25s ease-in;
	   -moz-transition: all .25s ease-in;
	    -ms-transition: all .25s ease-in;
	     -o-transition: all .25s ease-in;
	        transition: all .25s ease-in;
}

#dailyui_modal .row:hover img {
	-webkit-transform: translateY(-8px);
	   -moz-transform: translateY(-8px);
	    -ms-transform: translateY(-8px);
	     -o-transform: translateY(-8px);
	        transform: translateY(-8px);
	box-shadow: 0 35px 50px -10px rgba(0,0,0, .2);
}

#dailyui_modal .row:hover h3::before{
	content: "[ ";

}

#dailyui_modal .row:hover h3::after {
	content: " ]";
}


.sudo.project_thumbnail {
	background-color: #101740;
}




@-webkit-keyframes animate_bg {
  0%   { opacity: 0; }
  25%  { opacity: 1; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes dailyui {
  0%   { opacity: 0; }
  25%  { opacity: 1; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes dailyui {
  0%   { opacity: 0; }
  25%  { opacity: 1; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes dailyui {
  0%   { opacity: 0; }
  25%  { opacity: 1; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}