.dailyui_10 {
	background-image: url(../img/dailyui10/dailyui10_cover.png);
	background-position: 25% 10%;
}


.dailyui_20 {
	background-image: url(../img/dailyui20/dailyui20_cover.png);
	background-position: 25% 10%;
}
