.top {
	position: fixed;
	z-index: 10;
	width: 100%;
	left: 16.6666665%;
	top: 0;
	background-color: #eaeaea;
}

.collection {
	padding-top: 25vh;

}

.project_thumbnail {
	cursor: pointer;
	display: block;
	position: relative;
	width: 100%;
	height: 50%;
	min-height: 320px;
	z-index: 5;
	-webkit-background-size: cover;
	background-size: cover;	
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
	     -o-transition: all .3s ease-out;
	        transition: all .3s ease-out;		
}

.project_thumbnail:hover .descriptions{
	background-color: rgba(234,234,234,.9);
	opacity: 1;
}

.project_thumbnail:hover .descriptions h3,.project_thumbnail:hover .descriptions p{
	transform: translateY(32px);
}
.project_thumbnail .descriptions h3, .project_thumbnail .descriptions p {
	opacity: 1;
	-webkit-transition: all .2s ease-out;
	   -moz-transition: all .2s ease-out;
	    -ms-transition: all .2s ease-out;
	     -o-transition: all .2s ease-out;
	        transition: all .2s ease-out;		
}
.project_thumbnail h3 {
	margin-top: 84px;
}

.project_thumbnail:hover {
	transform: translateY(-10px);
	box-shadow: 0 5px 25px #c8c8c8 ;
}

.descriptions {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	text-align: center;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
	     -o-transition: all .3s ease-out;
	        transition: all .3s ease-out;		
}

.cover_img {
	max-height: 420px;
	overflow: hidden;
	margin-bottom: 56px;
}

.cover_img img {
	width: 100%;
	height: auto
}

.project_img {
	width: 100%;
	height: auto;
	margin-bottom: 40px;
	margin-top: 20px;
}

.wording p{
	font-weight: 400;
}

.project_item {
	margin-bottom: 32px;
	-webkit-transition: width 1s ease-in;
	   -moz-transition: width 1s ease-in;
	    -ms-transition: width 1s ease-in;
	     -o-transition: width 1s ease-in;
	        transition: width 1s ease-in;	

}




#project_list a {
	text-decoration: none;
}

#project_list img {
	transition: all ease-in 0.2s;
}

#project_list a:hover {
	text-decoration: underline;
}

#project_list a:hover img {
	-webkit-transform: translateY(-8px);
	   -moz-transform: translateY(-8px);
	    -ms-transform: translateY(-8px);
	     -o-transform: translateY(-8px);
	        transform: translateY(-8px);
	box-shadow: 0 10px 50px -10px rgba(0,0,0, .2);	
}

.project_page {
	padding: 40px;
}

.project_page .back {
	color: #3f3f3f;
	font-size: 24px;
}

.project_page h1 {
	text-align: left;
	margin-bottom: 60px;
}

.cover_img img{
	width: 100%;
}

.cover_img {
	height: 400px;
	overflow: hidden;
}

.wording {
	margin-top: 42px;
	margin-bottom: 24px;
}

.project_img {
	margin-bottom: 42px;
}

.project_details {
	list-style-type: none;
	color: #606060;
	padding: 0;
}

.project_details li {
	margin-bottom: 12px;
}

.project_details li span {
	display: inline-block;
	font-weight: bold;
	min-width: 150px;
	margin-right: 8px;
}
